.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(97, 128, 196);
    align-items: center;
}

.nav-logo{
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 25px;
}

.linkto{
    text-decoration: none;
    color: white;
    padding: 20px;
}

.active{
    color: dimgray;
}