.counter{
    display: flex;
    gap: 10px;
}

.counter button{
    color: rgb(97, 128, 196);
    background-color: white;
    border: none;
    padding: 4px;
    font-size: 30px;
}

.counter .add-button{
    color: rgb(97, 128, 196);
    background-color: white;
    border: none;
    font-size: 20px;
}

.add-button:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(97, 128, 196);
    border-radius: 10px;
    padding: 4px;
}

.number-count{
    font-size: 20px;
    padding-bottom: 10px;
}

button:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(97, 128, 196);
    border-radius: 10px;
    padding: 4px;
}

button:active{
    color: white;
    background-color: rgb(97, 128, 196);
}